.product-item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  min-height: 50vh;
}

.product-detail-container {
  width: 75%;
}

.product-img-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-img {
  width: 440px;
  border-radius: 10px;
  margin-right: 26px;
}

.product-data {
  width: 60%;
}

.product-title {
  color: #475569;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
}

.product-price {
  color: #12022f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 800;
}

.rating-review-container {
  display: flex;

  align-items: center;
}

.rating-container {
  background-color: #3b82f6;
  width: 58px;
  height: 30px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.product-rating {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  margin-right: 4px;
}

.star-img {
  width: 18px;
}

.product-review {
  color: #1e293b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.product-description {
  color: #616e7c;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
}

.available-header {
  color: #12022f;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-right: 6px;
}

.available-value {
  color: #616e7c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.quantity-btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.quantity-btn {
  background-color: transparent;
  border: none;
}

.quantity-button-icon {
  color: #616e7c;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.product-quantity {
  color: #475569;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
}

.add-to-cart-button {
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  width: 120px;
  height: 36px;
  cursor: pointer;
}

.similar-product-heading {
  color: #475569;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  margin-top: 70px;
}

.similar-product-lists {
  padding-left: 0px;
  list-style-type: none;
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}

.error-view-img {
  width: 50%;
}

.product-notfound {
  color: #12022f;
  font-family: Roboto;
  font-size: 34px;
}

.continue-shopping-btn {
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  width: 160px;
  height: 36px;
  cursor: pointer;
}

.available-container {
  display: flex;
  align-items: center;
}
